* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 300px));
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    grid-template-areas:
        "header header header"
        "blog blog message"
        "footer footer footer";

}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, minmax(100px, auto));
        grid-template-areas:
            "header header"
            "blog blog"
            "message message"
            "footer footer";
    }
}


#header {
    grid-area: header;
    //header-start / header-end
}

#blog {
    grid-area: blog;
}

#message {
    grid-area: message;
}

#footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


.grid-elem {

    background-color: #E2725B;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    border: 2px solid #3b3b3b;
    border-radius: 4px;
}

.orange {
    background-color: yellow;
}